body{
    margin: 0;
    background-image: url(../Images/pexels-photo-414612.jpeg);
    background-size: cover;
}
main{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div1{
    width: 350px;
    height: 550px;
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #fff;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
input{
    padding: 10px;
    margin-top: 20px;
    margin: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
}
input::placeholder{
    color: #fff;
}
input::focus{
    outline: none;
}
.div2 input{
    margin-right: 5px;
    margin-bottom: 5px;
}
h2{
    padding: 5px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
label{
    color: white;
}