body{
    margin: 0;
    background-image: url(../Images/pexels-photo-414612.jpeg);
    background-size: cover;
}
main{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}